body {
  background-color: #f5d9d5;
  font-family: 'Nunito', sans-serif;
  color: white;
}

#mainNavbar .navbar-brand {
  color: #EA1C2C;
}
#mainNavbar .nav-link {
  color: #white;
}
#mainNavbar .nav-link:hover {
  color: #EA1C2C;
}
h1 {
  font-size:  5.625rem;
  color: white;
  text-transform: uppercase;
  line-height: 1.3;
  text-shadow: 3px 3px 1px black;
}
.form-group {
  padding-top: 100px;
}
